*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~
pkg/

# Berkshelf
.vagrant
/cookbooks

# Bundler
bin/*
.bundle/*

.kitchen/
.kitchen.local.yml

attributes/blank.rb
recipes/blank.rb

coverage
.DS_Store

int-lint-results.xml

vendor/

.yardoc/